# Mac OS X Finder
*.DS_Store

# venv
CurroDL/

# vscode
.vscode/
__pycache__/

# pytest
AG-News-Classifier/.pytest_cache/*

# archives and datasets
*.zip
*.tar.gz
CIFAR10-ResNet-Classifier/cifar_pickle_archive/*
AG-News-Classifier/AG-News-Data/*
AG-News-Classifier/embedding_ag_news/embedded-datasets/*


